.sidebar {
  border-right: 1px solid var(--border-color);
  background-color: rgb(var(--bg));
  width: 200px;
  height: 100vh;
  padding: 0 12px;
  overflow: hidden;
  transition: width 0.2s linear;
  &__logo {
    display: flex;
    align-items: center;
    flex: 1;
  }
  &.collapse {
    width: 60px;
    .sidebar__logo {
      display: none;
    }
  }
  &__title {
    --img-width: 32px;

    height: 48px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: var(--img-width);
      vertical-align: middle;
    }
  }
  &__list {
    margin-top: 12px;
    overflow: hidden;
  }
}
