body {
  --color: #303030;
  --item-hover-color: #f4f4f4;
  --item-checked-bg: rgb(219 200 237 / 26%);
  --item-checked-hover-color: rgb(219 200 237 / 42%);
  --bg: 255 255 255;
  --content-bg: #f7f7f7;
  --border-color: #ebebeb;
  --assist-color: #989898;
  --tip-color: #c2c2c2;
  --popup-bg: #fff;
  --tabs-bg: #f4f4f4;
  --tabs-item-inactive-color: #c7c6c6;
  --tabs-item-active-bg: #fff;
  --popup-shadow: 0px 2px 12px rgb(0 0 0 / 6%);
  --tooltip-bg: #fff;
  --tooltip-shadow: -10px 0 18px 2px rgb(0 0 0 / 4%), 4px 0 18px 2px rgb(0 0 0 / 4%);
  --button-bg: #f1f1f1;
  --button-active-bg: #e1e1e1;
  --slider-trail-color: #f0f0f0;
  --slider-shadow: 0 0 12px -4px #9e41f1;
  --editor-shadow: 0 2px 12px -8px rgb(52 52 52 / 10%);
  --qa-shadow: 0px 2px 12px -4px rgb(0 0 0 / 10%);
  --pre-bg: #242424;
  --scrollbar-thumb: rgb(162 162 162 / 80%);
  --scrollbar-thumb-hover: #929191;
  --message-success-bg: #d8f0dc;
  --message-success-border-color: #b5cdb9;
  --message-info-bg: #daecff;
  --message-info-border-color: #adc3d9;
  --message-error-bg: #ffd1d1;
  --message-error-border-color: #f85a5a;
  --message-warn-bg: #f7ebce;
  --message-warn-border-color: #db9e0e;
}

body.dark {
  --color: #efefef;
  --item-hover-color: #3f3e3e;
  --item-checked-bg: rgb(88 83 94 / 26%);
  --item-checked-hover-color: rgb(88 83 94 / 32%);
  --bg: 50 50 50;
  --content-bg: #3a3a3a;
  --border-color: #3e3e3e;
  --assist-color: #707070;
  --tip-color: #878787;
  --popup-bg: #4b4b4b;
  --tabs-bg: #4b4b4b;
  --tabs-item-inactive-color: #c7c6c6;
  --tabs-item-active-bg: #3f3f3f;
  --popup-shadow: 0px 2px 12px rgb(0 0 0 / 8%);
  --tooltip-bg: var(--popup-bg);
  --tooltip-shadow: -10px 0 18px 2px rgb(0 0 0 / 8%), 4px 0 18px 2px rgb(0 0 0 / 8%);
  --button-bg: #4c4c4c;
  --button-active-bg: #3b3b3b;
  --slider-trail-color: #686868;
  --editor-shadow: 0 2px 12px -8px rgb(11 11 11 / 30%);
  --qa-shadow: 1px 1px 12px -4px rgb(0 0 0 / 30%);
  --scrollbar-thumb: rgb(83 80 80 / 80%);
  --scrollbar-thumb-hover: #6e6e6e;
  --message-success-bg: #323d34;
  --message-success-border-color: #46514d;
  --message-info-bg: #393c40;
  --message-info-border-color: #3d4453;
  --message-error-bg: #4f3939;
  --message-error-border-color: #6e4343;
  --message-warn-bg: #4b4840;
  --message-warn-border-color: #69572d;
}
