body {
  --color: #303030;
  --item-hover-color: #f4f4f4;
  --bg: 255 255 255;
  --content-bg: #f7f7f7;
  --border-color: #eaeaea;
  --assist-color: #a5a3a3;
  --popup-bg: #f4f4f4;
  --tabs-bg: #f4f4f4;
  --tabs-item-inactive-color: #c7c6c6;
  --tabs-item-active-bg: #fff;
  --popup-shadow: 0px 2px 12px rgb(0 0 0 / 6%);
  --tooltip-bg: var(--popup-bg);
  --tooltip-shadow: -10px 0 18px 2px rgb(0 0 0 / 4%), 4px 0 18px 2px rgb(0 0 0 / 4%);
}

body.dark {
  --color: #efefef;
  --item-hover-color: #3f3e3e;
  --bg: 50 50 50;
  --content-bg: #3a3a3a;
  --border-color: #303030;
  --assist-color: #6b6b6b;
  --popup-bg: #4b4b4b;
  --tabs-bg: #4b4b4b;
  --tabs-item-inactive-color: #c7c6c6;
  --tabs-item-active-bg: #3f3f3f;
  --popup-shadow: 0px 2px 12px rgb(0 0 0 / 8%);
  --tooltip-bg: var(--popup-bg);
  --tooltip-shadow: -10px 0 18px 2px rgb(0 0 0 / 8%), 4px 0 18px 2px rgb(0 0 0 / 8%);
}
