.cy-qa {
  position: relative;
  img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    object-fit: fill;
  }
  &__function-bar {
    display: flex;
    align-items: center;
    border-radius: 2px;
    height: 22px;
    margin-top: 6px;
    padding: 0 8px;
    .cy-icon {
      opacity: 0.2;
      transition: opacity 0.2s;
      &:hover {
        opacity: 1;
      }
    }
  }
  &__content {
    margin-top: 12px;
    background-color: rgb(var(--bg));
    padding: 12px;
    border-radius: 6px;
    box-shadow: var(--qa-shadow);
    max-width: 92%;
  }

  // 重置markdown内的一些样式
  ol,
  ul,
  li {
    list-style-type: decimal;
    list-style-position: inside;
    padding-left: 1em;
    text-indent: -1em;
  }
  ol {
    list-style-type: disc;
  }
  li p {
    margin: 12px 0;
  }
}

.cy-question {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  white-space: pre-wrap;
  &__content {
    width: auto;
    flex-grow: 1;
    margin-right: 6px;
    border-top-right-radius: 0;
  }
  .cy-qa__function-bar {
    margin-right: 6px;
  }
}

.cy-answer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  &__content {
    margin-left: 6px;
    border-top-left-radius: 0;
  }
  .cy-qa__function-bar {
    margin-left: 6px;
  }
  &__codes {
    margin: 12px 0;
  }
  &__titlebar {
    padding: 6px 8px;
    display: flex;
    justify-content: space-between;
    background-color: var(--pre-bg);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid #3b3b3b;
    color: #cdcdcd;
  }
}

.cy-radio__content {
  .cy-qa__com {
    max-width: 92%;
  }
  .cy-qa__content {
    max-width: unset;
  }
}
