.cy-input {
  height: 36px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 2px;
  background-color: rgb(var(--bg));
  border: 1px solid var(--border-color);
  transition: border-color 0.1s linear;
  &.small {
    height: 30px;
  }
  &.large {
    height: 42px;
  }
  &.focus {
    border-color: $brand-color;
  }
  input {
    flex: 1;
    outline: 0;
    width: 100%;
    height: 100%;
    padding: 0 8px;
    background-color: transparent;
    &[type='password'] {
      font-size: 12px;
      &::-ms-clear {
        display: none;
      }
      &::-ms-reveal {
        display: none;
      }
    }
  }
  &__trail {
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 8px;
    color: var(--assist-color);
  }
  &__btn {
    margin-right: 4px;
  }
  &__count::after {
    content: attr(data-count);
    display: inline-block;
  }
}
