.session-header {
  height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(var(--bg));
}

.editor-input {
  width: calc(100% - 32px);
  position: absolute;
  left: 16px;
  bottom: 16px;
}
