.chat-item {
  height: 52px;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  &__left {
    padding: 0 8px;
    height: 100%;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
  }
  &:hover {
    background-color: var(--item-hover-color);
  }
  &__prefix {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-right: 6px;
    object-fit: fill;
  }
  &__collapse {
    .chat-item__prefix {
      margin-right: 0;
      margin-left: 12px;
      & + span {
        opacity: 0;
      }
    }
  }
  &__checked {
    background-color: var(--item-checked-bg);
    &:hover {
      background-color: var(--item-checked-hover-color);
    }
  }
  &__setting {
    width: 20px;
    height: 20px;
    margin: 0 8px;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    align-items: center;
    &:hover {
      background-color: var(--setting-hover-color);
    }
  }
}
