.cy-radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  .cy-icon {
    color: var(--tip-color);
    pointer-events: none;
    transition: color 0.2s ease;
  }
  &.checked .cy-icon {
    color: $brand-color;
  }
  &:hover .cy-icon {
    color: $brand-color;
  }
  &__content {
    margin-left: 4px;
  }
}

.cy-radio-group {
  .cy-radio:not(:last-child) {
    margin-right: 12px;
  }
}
