.cy-icon {
  color: var(--font-color);
  font-size: var(--size);
  line-height: 1em;
  position: relative;
  cursor: default;
  &.use-gradient {
    color: transparent !important;
    background-image: var(--gradient);
    background-clip: text;
  }
}
