.sidebar {
  border-right: 1px solid var(--border-color);
  background-color: rgb(var(--bg));
  width: 200px;
  height: 100%;
  overflow: hidden;
  transition: width 0.2s linear;
  position: relative;
  &__logo {
    display: flex;
    align-items: center;
    flex: 1;
  }
  &.collapse {
    width: 60px;
    .sidebar__logo {
      display: none;
    }
  }
  &__title {
    --img-width: 32px;

    height: 48px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 12px;
    justify-content: center;
    img {
      width: var(--img-width);
      vertical-align: middle;
    }
  }
  &__list {
    max-height: 76vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.sidebar__theme {
  position: absolute;
  width: calc(100% - 24px);
  bottom: 16px;
  left: 12px;
}
