.sidebar {
  border-right: 1px solid var(--border-color);
  background-color: rgb(var(--bg));
  width: 200px;
  &.collapse {
    width: 60px;
  }
  &__title {
    height: 48px;
    position: relative;
    display: flex;
    align-items: center;
    &-icon {
      width: 32px;
      height: 32px;
      display: inline-block;
      background: url('../assets/icons/logo.png') center no-repeat;
      background-size: 100% auto;
    }
  }
}
